# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Models
*.zip
*.pkl

# Large data
data/parsed_data.zip
data/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
